<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contect="ie-edge">
        <title>Zoom-clone</title>
        <style>
                #video-grid {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, 300px);
                        grid-auto-rows: 300px;
                }

                video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                }
        </style>
</head>
<body>
        <div id="video-grid"></div>
</body>
</html>
